---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Fabián | Portafolio">
  <section class="py-20">
    <h1 class="text-4xl font-bold mb-4">
      Hola, soy Fabián 👋
    </h1>

    <p class="text-neutral-300 max-w-xl">
      Desarrollador Full Stack con experiencia en Angular, NestJS y Firebase.
    </p>
  </section>
</BaseLayout>
