---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Fabián.dev" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.ico" />

    <title>{title}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  </head>

  <body class="min-h-screen bg-zinc-950 text-zinc-100">
    <slot />

    <script>
      const btn = document.getElementById("menu-btn");
      const close = document.getElementById("menu-close");
      const menu = document.getElementById("mobile-menu");
      const overlay = document.getElementById("menu-overlay");

      function openMenu() {
        menu?.classList.remove("translate-x-full");
        overlay?.classList.remove("hidden");
      }

      function closeMenu() {
        menu?.classList.add("translate-x-full");
        overlay?.classList.add("hidden");
      }

      btn?.addEventListener("click", openMenu);
      close?.addEventListener("click", closeMenu);
      overlay?.addEventListener("click", closeMenu);
    </script>
  </body>
</html>
